<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-iamport-inicis"
  version="1.0.0">

    <name>IonicIamportInicis</name>
    <description>Inicis Payment Plugin using Iamport</description>
    <author>SIOT</author>
    <license>MIT</license>
    <keywords>payment,iamport,inicis</keywords>

    <preference name="URL_SCHEME" /> <!-- https://github.com/EddyVerbruggen/Custom-URL-scheme 설치를 위해 preference를 전달함 -->

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    <dependency id="cordova-plugin-customurlscheme" url="https://github.com/EddyVerbruggen/Custom-URL-scheme"/>
    <dependency id="cordova-plugin-inappbrowser" url="https://github.com/apache/cordova-plugin-inappbrowser"/>

    <asset src="www/iamport-checkout.html" target="iamport-checkout.html"></asset>
    <asset src="www/js/jquery-1.12.4.min.js" target="js/jquery-1.12.4.min.js"></asset>
    <asset src="www/js/ng-cordova-iamport.js" target="js/ng-cordova-iamport.js"></asset>

    <platform name="ios"></platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IamportInicis" >
                <param name="android-package" value="kr.iamport.ionic_inicis.IamportInicisPlugin"/>
                <param name="onload" value="true" />
            </feature>
            <allow-navigation href="*" /> <!-- cordova-plugin-whitelist 에 의해 chrome browser 새창열림 방지(ex. location.href = 'url') -->
        </config-file>

        <source-file src="src/android/kr/iamport/ionic_inicis/IamportInicisPlugin.java" target-dir="src/kr/iamport/ionic_inicis" />
        <source-file src="src/android/kr/iamport/ionic_inicis/PaymentScheme.java" target-dir="src/kr/iamport/ionic_inicis" />
    </platform>

</plugin>